{%  extends 'webpage/funcionario/main.html' %}
{% load static %}
{% block content %}


<div class="flex md:justify-center h-[60vh] md:items-center">
	<div class="w-full md:w-[40vw]">
		<div class="card card-body">
			<span class="font-bold text-xl mb-4">Pedidos da mesa {{Mesa}}</span>
			<form class="flex flex-col" action="" method="post">
                {% csrf_token %}
					<table class="w-full">
						<thead>
							<tr class="text-center">
								<th>Nome do prato</th>
								<th>|</th>
								<th>Quantidade pedida</th>
								<th></th>
								<th>Valor unitario</th>
								<th></th>
								<th>Valor Total</th>
							</tr>
						</thead>
						<tbody>
						{% for item in items %}
							<tr class="text-center">
								<td>
									{{item.prato}}
								</td>
								<td>|</td>
								<td>
									{{item.quantidade}}
								</td>
								<td>
									x
								</td>
								<td>
									{{item.valor}}
								</td>
								<td>
									=
								</td>
								<td>
									{{item.valor_total}}
								</td>
							</div>
						{% endfor %}
						</tbody>
					</table>
					<div class="flex flex-col items-end mt-4 space-y-2 px-4">
						<span>Valor total - {{valorTotal}}</span>
						<span class="text-sm">10% serviço - {{dez_porcento}}</span>
						<span class="font-bold">Valor a pagar - {{conta}}</span>
					</div>
                <button class="btn btn-danger self-end mt-4">Fechar</button>
                
            </form>
		</div>
	</div>
</div>


{% endblock %}